.cleaningCall
    height: 100%
    background: #5f5d5d
    overflow-y: auto
    .functionBtn
        width: 90%
        margin: 3.5rem 5% 0 5%
        text-align: center
        .callSign
            width: 30%
            height: 2rem
            line-height: 2rem
            background: #fff
            border-radius: 6px
            font-size: 0.8rem
            margin-top: 0.5rem
            margin-left: 3%
            box-shadow: 3px 3px 5px grey
        .details
            width: 17%
            height: 3rem
            line-height: 3rem
            background: #fff
            border-radius: 50%
            font-size: 0.8rem
            display: inline-block
            box-shadow: 3px 3px 5px grey
        .Next
            width: 30%
            height: 2rem
            line-height: 2rem
            background: #fff
            border-radius: 6px
            font-size: 0.8rem
            margin-top: 0.5rem
            margin-right: 3%
            box-shadow: 3px 3px 5px grey
            




