.reportForm
    height: 100%
    background: #5f5d5d
    overflow-y: auto
    padding-top: 3.7rem
    .switch
        width: 1.8rem
        height: 1.8rem
        position: absolute
        top: 2rem
        right: 0.5rem
        img
            width: 100%
    .start
        width: 90%
        color: #fff
        margin-left: 5%
        padding: 0.5rem 0
        font-size: 0.7rem
        input
            width: 65%
            height: 1rem
            border-radius: 4px
            border: 2px solid #ccc
            text-align: center
    .control
        width: 90%
        height: 1.5rem
        line-height: 1.5rem
        color: #fff
        margin-left: 5%
        padding: 0.5rem 0
        font-size: 0.7rem
        .otype
            margin-right: 1rem
        select
            width: 5rem
            height: 1.5rem
            border-radius: 10px
        p
            margin-right: 1.2rem
    .query
        width: 60%
        margin-left: 20%
        margin-top: 1.3rem
        height: 1.5rem
        line-height: 1.5rem
        font-size: 0.8rem
        text-align: center
        background: #ffd900
        border-radius: 8px
        
.echarts
    width: 100%
    margin-top: 1.5rem
    text-align: center
.userList
    width: 100%
    margin-top: 1.5rem
    .userData 
        width: 90%
        margin-left: 4%
        padding: 0.3rem 1%
        border-top: 1px solid #fac800
        background-color: #3a3a3a
        border-radius: 4px
        margin-bottom: 0.4rem
        .useRighr
            width: 93%
            p
                width: 50%
                color: #fac800
                height: 1.5rem
                line-height: 1.5rem
                span
                    width: 80%
                    height: 1.5rem
                    line-height: 1.5rem 
                    text-align: center
                    background: #fac800
                    color: #333
                    margin-right: 5%
                    border-radius: 6px
// 分页
.el-pagination
    margin-left: 1.2rem !important
.el-pagination__jump
    color: #fac800 !important
    margin-left: 5px !important
.btn-prev
    border-radius: 4px 0 0 4px
.btn-next
    border-radius: 0 4px 4px 0