.uservip
    height: 100%
    background: #5f5d5d
    overflow-y: auto
    .userName
        width: 90%
        margin-left: 5%
        margin-right: 5%
        margin-top: 2.2rem
        input
            width: 100%
            height: 1.5rem
            background: #fff
            border-radius: 6px
            text-indent: 0.3rem