.allocationSingle
    height: 100%
    margin-top: 1.5rem
    background: #696666
    overflow-y: auto
    .loading
        height: calc(100%)
    .apply
        width: 98%
        margin-left: 1%
        margin-right: 1%
        height: 3rem
        line-height: 2.5rem
        color: #fac800
        text-align: center
        font-size: 1.1rem
        font-weight: bold
        border-bottom: 1.5px solid #fff
    .allocationNber
        width: 70%
        margin-left: 27%
        height: 2.6rem
        line-height: 2.6rem
        .allNber-amount
            font-size: 0.4rem
            color: #fac800
            display: inline-block
        .allNber-reduce
            width: 1.2rem
            height: 1rem
            line-height: 1rem
            text-align: center
            background: #fac800
            border-radius: 6px
            display: inline-block
            font-weight: 700
        .allNber-conter
            width: 2rem
            height: 1rem
            line-height: 1rem
            text-align: center
            background: #fff
            display: inline-block
            border-radius: 4px
        .allNber-plus
            width: 1.2rem
            height: 1rem
            line-height: 1rem
            text-align: center
            background: #fac800
            display: inline-block
            border-radius: 6px
            font-weight: 700
    .supplier
        width: 100%
        text-align: center
        margin-top: 1rem
        span
            width: 40%
            height: 1.2rem
            line-height: 1.2rem
            background: #fac800
            display: inline-block
            border-radius: 5px
    .cityStore
        width: 96%
        margin-left: 2%
        margin-top: 1rem
        .cityHeader
            width: 100%
            border-bottom: 1px solid #fac800
            span
                width: 25%
                text-align: center
                display: none
                height: 1.4rem
                line-height: 1.4rem
                border-radius: 10px 10px 0 0
            span.active
                background: #fac800
                display: inline-block
        .allocation
            width: 100%
            height: 1.2rem
            line-height: 1.2rem
            span
                width: 25%
                text-align: center
                background: #fac800
                display: inline-block
                height: 1rem
                line-height: 1rem
                border-radius: 4px 
                margin: 0.5rem 0
    .storeList
        width: 96%
        height: 5.5rem
        margin: 0.8rem 2%
        background: #3a3a3a
        border-radius: 10px
        position: relative
        .choice-a
            position: absolute
            top: 0.4rem 
            right: 0.5rem
            width: 1rem 
            height: 1rem
            border-radius: 50%
            border: 1px solid #fff
        .choice-b
            position: absolute
            top: 0.4rem 
            right: 0.5rem
            width: 1rem 
            height: 1rem
            border-radius: 50%
            border: 1px solid yellow
            background: yellow
        .storeImg
            width: 40%
            height: 5.5rem
            line-height: 5.5rem
            text-align: center
            img
                width: 90%
        .storeData
            width: 60%
            margin-top: 0.5rem
            h3
                width: 95%
                margin-left: 5%
                color: #fac800
                font-weight: normal
                font-size: 0.8rem
                height: 1.3rem
                line-height: 1.3rem
            p
                width: 95%
                margin-left: 5%
                color: #fac800
    .loading
        margin-top: 1.4rem
        height: calc(100% - 1.4rem)
    
    
    
    
/*element*/
//日期插件
.block
    display: inline-block
    width: 3rem !important
.el-date-editor.el-input
    width: 8rem !important
    padding-right: 0 !important
.el-input__inner
    padding-right: none !important
    width: 3rem
.has-sidebar
    width: 97% !important
    margin-left: 1.5% !important
    padding: none !important
    left: 0 !important
.el-picker-panel__sidebar
    width: 15% !important
    padding: none !important
.el-picker-panel__body
    width: 70% !important
    margin-left: 15% !important
    padding: none !important