.orderDetails
    height: 100%
    overflow-y: auto
    margin-top: 1.5rem
    .customerInfo
        width: 90%
        margin: 0 3%

        background: #505050
        padding: 0 2%
        
        padding-bottom: 0.5rem
        border-radius: 0px 0px 1rem 1rem
        box-shadow: 0px 0.1rem 0.3rem 0px #000000
        position: relative
        .pre-count
            width: 98%
            margin: 0 1% 0.2rem 1%
            padding: 0.2rem 0
            text-align: center
            background-color: #fff
            border-bottom-left-radius: 10px
            border-bottom-right-radius: 10px
            color: #000
            font-weight: 600
        .orderStyleOne
            width: 55%
            height: 1rem
            line-height: 1rem
            float: left
            text-align: left
        .orderStyleTwo
            width: 45%
            height: 1rem
            line-height: 1rem
            float: right
            text-align: right
        .mobile
            width: 100%
            margin: 0.4rem 0
        .orderColor-white
            color: #fff
        .orderColor-gray
            color: #999999
        .orderVehicleInfo
            width: 100%
            border-top: 1px solid #999
            margin-top: 0.5rem
            padding-top: 0.3rem
            display: flex
            align-items: center
            .vehicleImg
                width: 5rem
                height: 3.8rem
                line-height: 3.8rem
                background-color: #fff
                border-radius: 2.5rem
                margin-right: 0.5rem
                text-align: center
                overflow: hidden
                img
                    // width: 95%
                    height: 100%
            .vehicleP
                color: #fff
                display: flex
                flex-direction: column
                justify-content: center
                #brand
                    font-weight: 600
        .orderUndetermined
            position: absolute
            top: 1.5rem
            right: 5%
            width: 7rem
            height: 7rem
            border: 0.3rem solid rgba(255,217,0,0.5)
            vertical-align: middle
            line-height: 7rem
            text-align: center
            border-radius: 100%
            color: rgba(255,217,0,0.5)
            transform: rotate(7deg)
            font-size: 1.4rem
    .editAdd
        width: 90%
        margin-left: 5%
        margin-right: 5%
        p
            height: 3rem
            line-height: 3rem
            margin-left: 1rem
            img
                width: 0.8rem
                margin-right: 0.1rem
    .orderContent
        width: 90%
        margin-left: 5%
        margin-right: 5%
        padding-bottom: 1rem
        display: flex
        flex-direction: column
        .orderContentp
            width: 100%
            height: 1.2rem
            line-height: 1.2rem
            margin: 0.3rem 0
            color: #666666
            font-weight: 600
        .orderConDetails
            width: 100%
            background: #f9f9f9
            padding: 0.3rem 0
            .detailsImg
                width: 30%
                height: 100%
                img
                    width: 70%
                    margin-left: 0.6rem
            .detailsList
                width: 70%
                height: 100%
                color: #666666  #9f9361
                display: flex
                align-items: center
                .item-change
                    width: 80%
                    .isHave
                        .have
                            color: green
                        .havenot
                            color: red
                    #itemPrice
                        display: flex
                        color: #9f9361
                    .reduce
                        display: flex
                        margin-top: 0.2rem
                        #current-num, #add
                            margin-left: 1rem
                        #minus
                            width: 0.6rem
                            height: 0.6rem
                            line-height: 0.6rem
                            text-align: center
                            border: solid 1px #333333
                            border-radius: 50%
                        #add
                            width: 0.6rem
                            height: 0.6rem
                            line-height: 0.6rem
                            text-align: center
                            border: solid 1px #ffda01
                            background-color: #ffda01
                            border-radius: 50%
                #free-button
                    width: 1rem
                    height: 0.6rem
                    position: relative
                    background: #999
                    line-height: 0.5rem
                    font-size: 0.5rem
                    text-align: center
                    color: #fff
                    
                    &:before
                        content: ""
                        position: absolute
                        top: -0.26rem
                        left: 0
                        width: 0
                        height: 0
                        border-left: 0.5rem solid transparent
                        border-right: 0.5rem solid transparent
                        border-bottom: 0.26rem solid #999
                    &:after
                        content: ""
                        position: absolute
                        bottom: -0.26rem
                        left: 0
                        width: 0
                        height: 0
                        border-left: 0.5rem solid transparent
                        border-right: 0.5rem solid transparent
                        border-top: 0.26rem solid #999
                    &.active
                        background: #61B630
                    &.active:before
                        border-bottom: 0.26rem solid #61B630
                    &.active:after
                        border-top: 0.26rem solid #61B630
    .remark-info
        width: 90%
        margin-left: 5%
        .head
            color: #666666
            font-weight: 600
        #technician-remark
            width: 100%
            margin-top: 0.5rem
            padding: 0.2rem
            box-sizing: border-box
            background-color: #f1f1f1
            border: solid 1px #A9A9A9
            border-bottom-color: #ccc
            resize: none
            overflow: auto
            display: block
            &:focus
                border: solid 1px #CDAF01
                box-shadow: 0 0 1px #CDAF01
        .technician-bg
            width: 100%
            height: 14rem
            border: solid 1px #ccc
            border-top: none
            box-sizing: border-box
    .checkout
        width: 90%
        margin: 1rem 5%
        padding-bottom: 1rem
        .head
            color: #666666
            font-weight: 600
        .box
            margin-top: 0.5rem
            padding-left: 0.5rem
            .item
                display: flex
                justify-content: space-between
                align-items: center
                border-bottom: dashed 1px #ccc
                padding: 0.3rem
                .info
                    color: #e4393c
                    font-weight: 600
                    
            .item#dvinvoice
                .info
                    font-weight: 300
                    color: #333
                    display: flex
                    align-items: center
                    input
                        width: 6rem
                        height: 1.8rem
                        border: 1px solid #ccc
                        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
                        padding: 0.3rem 0.3rem
                        border-top-left-radius: 5px
                        border-bottom-left-radius: 5px
                        box-sizing: border-box
                        color: #666
                    .apply
                        height: 1.8rem
                        width: 3rem
                        line-height: 1.8rem
                        text-align: center
                        font-size: 0.8rem
                        background-color: #FFD900
                        border-top-right-radius: 5px
                        border-bottom-right-radius: 5px
            .item.prefer .box
                display: flex
                flex-direction: column
                

 

    .payment-box
        width: 90%
        margin: 1rem 5% 2rem 5%
        .head
            color: 666
            font-weight: 700
        .pay-box
            margin-top: 0.5rem
            display: flex
            flex-wrap: wrap
            .item
                width: 46%
                display: flex
                justify-content: space-between
                align-items: center
                margin-left: 4%
                margin-bottom: 0.2rem
                padding: 0.4rem 0.5rem
                border: solid 1px #ddd
                box-sizing: border-box
                font-weight: 600
                i
                    font-size: 1rem
                .icon-weixinzhifu1
                    color: #12CC0D
                .icon-wallet
                    color: #9E937B
                .icon-zhifufangshi-huodaoshuaqia
                    color: #45697B
                .icon-zhipiao2
                    color: #F3734A
                .icon-saoma
                    color: #25ABEE
                .icon-yanshishuchulogo
                    color: #00B0EC
                .icon-payduigong
                    color: #F3734A
        .btn-box
            margin: 0.5rem 0
            display: flex
            justify-content: space-between
            padding: 0 0.3rem
            button
                width: 46%
                margin: 0 2%
                border: solid 1px #ffd900
                color: #ffd900
                background-color: #fff
                padding: 0.6rem 0
    .sign
        width: 90%
        margin-left: 5%
        margin-right: 5%
        .head
            color: #666
            font-weight: 600
        .signbtn-box
            display: flex
            justify-content: flex-end
            background-color: #E4E4E4
            margin-top: 0.6rem
            .signbtn
                width: 2.6rem
                height: 2.6rem
                background-color: #FFD900
                display: flex
                justify-content: flex-end
                align-items: center
                border-bottom-left-radius: 1rem
                img
                    width: 80%
                    height: 80%
                    display: block
                    margin-left: 0.2rem

            
            
    .customer-sign
        width: 90%
        margin: 0.6rem 5%
        display: flex
        flex-direction: column
        align-items: center
        .head
            width: 100%
            color: 666
            font-weight: 700
        .wrap
            width: 11.5rem
            height: 7.6rem
            margin-top: 0.3rem
            img
                width: 100%
                height: 100%
    .btn-box
        display: flex
        width: 90%
        margin-left: 5%
        &>div
            width: 46%
            margin: 0.6rem 2%
            background-color: #ffd900
            border-radius: 3px
            padding: 0.5rem 0
            text-align: center

            


