.queryPrice
    height: 100%
    margin-top: 1.5rem
    background: #696666
    .loading
        height: calc(100%)
    .search
        background-color: #e5e5e5
        position: relative
        height: 100%
        .topmain
            width: 94%
            height: 1.2rem
            line-height: 1.2rem
            padding: 5px 3%
            border-radius: 0.15rem
            overflow: hidden
            .collect
                width: 10%
                height: 1.2rem
                line-height: 1.2rem
                background: #fff
                text-align: center
                border-radius: 0.5rem 0 0 0.5rem
                img
                    width: 1.2rem
            .keywords
                width: 59%
                height: 1.2rem
                border: none
                outline: none
                text-align: left
                color: #696666
                font-size: 0.3rem
            .seobtn
                width: 20%
                height: 1.2rem
                line-height: 1.2rem
                background-color: #ffda01
                text-align: center
            .checkbtn
                width: 10%
                height: 1.2rem
                line-height: 1.2rem
                background: #3C3838
                color: white
                text-align: center
                font-size: 0.24rem
                border-radius: 0 0.5rem 0.5rem 0
                padding: 0 !important
        .titlebottom
            width: 100%
            padding-bottom: 5px
            position: relative
            .thebrand
                width: 30%
                height: 1.2rem
                line-height: 1.2rem
                text-align: center
                font-size: 0.3rem
                background-color: #fff
            .thetype
                width: 30%
                height: 1.2rem
                line-height: 1.2rem
                text-align: center
                font-size: 0.3rem
                background-color: #fff
                border-right: 1px solid #e5e5e5
                box-sizing: border-box
            .thesize
                width: 40%
                height: 1.2rem
                line-height: 1.2rem
                text-align: center
                font-size: 0.3rem
                background-color: #fff
                border: none
                outline: none
                color: #696666
            .brandbox
                border-top: 2px solid #ffda01
                background-color: #e5e5e5
                overflow: hidden
                width: 100%
                position: absolute
                top: 1.2rem
                left: 0
                z-index: 1001
                padding-top: 0.6rem
                p
                    padding: 2px 0.3rem
                    background-color: #fff
                    border-radius: 5px
                    margin: 0px 0.4rem 0.6rem 0.4rem



        .productList
            width: 98%
            margin: 0 1%
            background: #fff
            border-radius: 5px
            max-height: 84%
            text-align: center
            overflow-y: auto
            position: relative
            .productExample
                width: 90%
                margin: 0 5%
                height: 3.5rem
                border-bottom: 1px solid #d9d9d9
                ul 
                    width: 100%
                    margin: 0
                    padding: 0.5rem 0 0 0
                    li
                        width: 100%
                        margin: 0
                        padding: 0.3rem 0
                        height: auto
                        line-height: 0.8rem
                    .price
                        color: red
                    .btnStyle
                        padding: 0.1rem 0.3rem
                        background: #ffda01
                        margin-right: 0.4rem
                        border-radius: 4px
                        color: #333
                    .btnStyles
                        position: relative
                        .stock
                            position: absolute
                            top: 1.4rem
                            left: 1.2rem
                            width: 10rem 
                            height: auto
                            background: #ffda01
                            z-index: 5
                            border-radius: 4px
                            .triangle
                                position: absolute
                                top: -0.2rem
                                left: 0.2rem
                                width: 0.8rem
                                height: 1rem
                                background: #ffda01
                                transform: rotate(45deg)
                                z-index: -1
                            .storeName
                                height: 2rem
                                line-height: 2rem
                                text-align: center
                    .fontSize
                        font-size: 0.7rem       
                    .color
                        color: #898989
.el-message-box
    width: 70% !important
.el-button--primary
    background: #ffda01 !important
    border: 1px solid #ffda09 !important
.el-message-box__title
    color: #000 !important







