
/*Header*/ 
.header
    width: 100%
    background: #ffd900
    position: fixed
    top: 0px
    left: 0px
    z-index: 999
    padding: 0.2rem 0
    
.h-landingstate
    font-size: 0.5rem
    color:#fff
    display: inline-block
    overflow: hidden
    position: absolute
    right: 0.2rem
    top: 50%
    margin-top: -0.4rem
.passCity
    background: #000
    padding: 1px 0.3rem
    border-radius: 1rem 0px 0px  1rem
    float: left
    
.cancellation
    background: red
    padding: 1px 0.3rem
    border-radius: 0px 1rem 1rem 0px
    float: left
    
.h-back
    width: 1rem
    margin-left: 0.3rem

.h-home
    width: 1rem
    margin-left: 1.5rem
    
.h-refresh
    width: 0.7rem
    margin-top: 0.15rem
    margin-left: 1.4rem

.h-logo
    width: 7rem
    margin-left: 0.8rem
