
/*Header*/ 
.header
    width: 100%
    background: #ffd900
    position: fixed
    top: 0px
    left: 0px
    z-index: 999
    padding: 0.72rem 0

    
.h-landingstate
    font-size: 0.5rem
    color: #fff
    overflow: hidden
    position: absolute
    top: 0.2rem
    right: 0.2rem
.passCity
    background: #000
    padding: 1px 0.3rem
    border-radius: 1rem 0px 0px  1rem
    float: left
    
.cancellation
    background: red
    padding: 1px 0.3rem
    border-radius: 0px 1rem 1rem 0px
    float: left
    
.h-back
    width: 1rem
    position: absolute
    top: 0.2rem
    left: 3%

.h-home
    width: 1rem
    position: absolute
    top: 0.2rem
    left: 16%
    
.h-refresh
    width: 0.7rem
    position: absolute
    top: 0.4rem
    left: 30%

.h-logo
    width: 6rem
    margin-left: 0.8rem
    position: absolute
    top: 0.3rem
    left: 54%
    margin-left: -3rem
