.persona
    height: 100%
    background: #5f5d5d
    overflow-y: auto
    .personalData
        width: 94%
        margin-top: 2.5rem
        padding: 0 3%
        float: left
        overflow:hidden
        .personal-information
            width: 100%
            border-bottom: 1px solid #FAC800
            overflow: hidden
            .personal-user
                width: 100%
                float: left
                border-bottom: 1px solid #716E6E
                padding-bottom: 0.2rem
                margin-bottom: 0.2rem
                .personal-userImg
                    width: 2.6rem
                    height: 2.6rem
                    float: left
                    img
                        width: 100%
                        height: 100%
                        border-radius: 50%
                        background: #3C3838
                .personal-userName
                    width: 83%
                    float: left
                    color: #fac800
                    font-size: 0.8rem
                    line-height: 1.3rem
                    margin-left: 0.4rem
                    p
                        float: left
                    .personal-userEdit
                        width: 1.3rem
                        height: 1.3rem
                        float: right
            .personal-userInfo
                width: 98%
                padding-left: 2%
                float: left
                color: #B7B7B7
                line-height: 1.2rem
                span
                    color: #3C3838;
    .personalModels
        width: 94%
        padding: 0 3%
        overflow: hidden
        float: left
        margin-top: 0.6rem
        .personal-allCar
            box-shadow: 0px 0px 0px 1px rgba(105, 102, 102, 0)
            border-radius: 10px
            padding: 2%
            font-size: 0.15rem
            float: left
            margin: 1%
            background: #3C3838
            height: 1.6rem
            .personal-car
                width: 1.5rem
                height: 1.5rem
                line-height: 1.5rem
                padding: 0.05rem
                border-radius: 100%
                background: #fff
                text-align: center
                float: left
                overflow: hidden
                img
                    width: 90%
            p
                color: #fac800
                float: left
                margin-left: 0.2rem
        .personal-choose.active
            box-shadow: 0px 0px 0px 1px rgb(255, 217, 0)
        .personal-plusModels
            width: 27%
            box-shadow: 0px 0px 0px 1px rgba(105, 102, 102, 0)
            border-radius: 10px
            padding: 2%
            float: left
            margin: 1%
            color: #4A4A4A
            background: rgb(183, 183, 183)
            height: 1.6rem
            line-height: 1.6rem
            text-align: center  
            font-size: 0.8rem 
            span
                font-size: 1rem
                font-weight: bold
        .personal-modifyInfo
            width: 96%
            padding: 0.4rem 2%
            margin-top: 1.3rem
            float: left
            color: #FFFFFF
            line-height: 0.4rem
            background-color: #3C3838
            border: 1px solid #FFD900
            font-weight: 300
            position: relative
            .personal-mStyle
                padding-top: 0.5rem
            p
                line-height: 1.3rem
                font-size: 0.3rem
                input
                    width: 9rem
                    padding: 0.2rem 0
                    text-indent: 0.1rem
                    border-radius: 3px
                button
                    width: 5.5rem
                    height: 1.2rem
                    line-height: 1.2rem
                    border: none
                    border-radius: 4px
                    background: #fac800
                    font-size: 0.5rem
                    color: #3C3838
                    margin-right: 0.3rem
            .personal-mArrow
                width: 0.8rem
                height: 0.8rem
                border-top: 1px solid #FFD900
                border-right: 1px solid #FFD900
                position: absolute
                top: -0.46rem
                left: 1.2rem
                background-color: #3C3838
                z-index: 10 
                transform: rotate(-45deg)
    .personalOptional
        width: 94%
        padding: 0 3%
        overflow: hidden
        float: left
        margin-top: 1rem
        h3
            width: 100%
            height: 1.5rem
            line-height: 1.5rem
            color: #fac800
            font-size: 0.8rem
            margin-top: 0.5rem
        .personalInput
            width: 50%
            padding: 0.3rem 0
            span
                width: 40%
                display: inline-block
                color: #B7B7B7
                text-align: right
            .pereinp
                width: 55%
                height: 1rem
                line-height: 1rem
                padding: 0.1rem 0
                font-size: 0.26rem
                text-indent: 0.2rem
                border-radius: 3px
            b
                width: 5%
                height: 1rem
                line-height: 1rem
                color: red
                text-align: center
                display: inline-block
        .optional-input
            color: #fac800
            width: 50%
            float: left
            text-align: center
            margin-bottom: 0.8rem
            span
                
            input
                width: 5rem
                height: 1rem
                line-height: 1rem
                padding: 0.1rem 0.1rem
                font-size: 0.26rem
                text-indent: 0.2rem
        .optional-inpRadio
            width: 80%
            margin-left: 10% 
            float: left
            overflow: hidden
            height: 2rem
            line-height: 2rem 
            text-align: center 
            position: relative 
            .inpRadio-style
                color: #fac800  
                float: left  
                width: 40%
            .inpRadio-judge
                color: #c8c8c8
                font-size: 0.4rem
                margin-right: 0.4rem
                  
            .inpRadio-frame
                width: 1rem
                height: 1rem
                background: red
                display: inline-block
            .radioBtn 
                width: 3rem
                position: relative
                right: 1.4rem
                height: 2rem
                line-height: 2rem
                float: right
            input[type="radio"] 
                width: 1rem
                height: 1rem
                opacity: 0
            label 
                position: absolute
                left: 1.6rem
                top: 0.6rem
                width: 0.8rem
                height: 0.8rem
                border: 1px solid #C1CACA
            input:checked+label::after 
                position: absolute
                content: ""
                width: 0.3rem
                height: 0.6rem
                top: 0rem
                left: 0.2rem
                border: 3px solid #fac800
                border-top: none
                border-left: none
                transform: rotate(45deg)
            
            span
                display: inline-block;
                margin-top: 0.1rem;
                color: #c8c8c8
            
        .inpRadio-border
            border-top: 1px solid #716E6E
            border-bottom: 1px solid #716E6E 
        .optional-button
            width: 100%
            text-align: center
            margin-top: 2rem
            float: left
            button
                width: 7rem
                height: 1.5rem
                line-height: 0.5rem
                background: #fac800
                text-align: center
                font-size: 0.3rem
                border-radius: 10px
                border: none
                font-size: 0.8rem
                margin-bottom: 3rem
    .surebox
        width: 100%
        height: 100%
        position: fixed
        background-color: rgba(0,0,0,0.5)
        z-index: 10000
        .surefa
            width: 70%
            height: 6.6rem
            display: flex
            flex-direction: column
            align-items: center
            justify-content: space-between
            margin-left: 15%
            margin-top: 12rem
            background-color: #fff   
            border-radius: 10px
            overflow: hidden
            .info
                margin-top: 0.8rem
                font-size: 0.8rem
            .btn-group
                display: flex
                width: 100%
                justify-content: space-between
                &>button
                    width: 50%
                    border: none
                    height: 1.6rem
                .cancel
                    background-color: #000
                    color: #ffffff
                .sure
                    background-color: #ffda01
    /*element*/
    //日期插件
    .block
        width: 55% !important
        height: 1.2rem
        display: inline-block
        .el-date-editor
            width: 100% !important
            height: 1.2rem
        .el-input__inner
            padding: 0.1rem 0 !important
            height: 1.2rem
            color: #000
            font-size: 0.26rem;
            text-indent: 0.2rem;
        .el-input__icon
            line-height: 1.2rem  !important
            text-align: left !important
        .el-icon-date
            opacity: 0
    //  .el-input__prefix
    //      width: 100% !important
    //      height: 1.2rem  !important
    //  .el-input__suffix-inner
    //      height: 1.2rem  !important
    //      position: absolute
    //      top: 0rem
    //      right: 0px
    //      line-height: 1.2rem !important
    //      .el-icon-date
    //          opacity: 0
    //          text-align: left !important
.has-sidebar
    width: 97% !important
    margin-left: 1.15% !important
    padding: none !important
    left: 0 !important
.el-picker-panel__sidebar
    width: 15% !important
    padding: none !important
.el-picker-panel__body
    width: 70% !important
    margin-left: 15% !important
    padding: none !important
.persona
    .loading
        margin-top: 1.4rem
        height: calc(100% - 1.4rem)
//遮罩层
.mask
    width: 100%
    height: 100%
    background: rgba(115, 115, 115, 0.78)
    position: fixed
    top: 0px
    left: 0px
    z-index: 99
    .checkVoucher
        width: 90%
        position: absolute
        top: 20%
        left: 5%
        border: 1px solid #FFFFFF
        background: #ddd
        padding: 1.5rem 0.1rem 1rem 0.1rem
        box-shadow: 0px 0px 1rem 0px #000
        font-size: 0.5rem
        overflow-y: auto
        max-height: 60%
        border-radius: 10px
        .closeCurrent        
            width: 1.5rem
            height: 1.5rem
            line-height: 1.2rem
            text-align: center
            border-radius: 50%
            background: rgb(6, 224, 211)
            color: #fff
            font-size: 1.4rem
            font-weight: bold
            position: absolute
            top: 0.1rem
            right: 0.1rem
        .headerList
            width: 100%
            margin-bottom: 0.25rem
            a
                color: #333
            span
                width: 16.6%
                height: 1.2rem
                line-height: 1.2rem
                text-align: center
                overflow: hidden
                text-overflow: ellipsis
                white-space: nowrap

