
html, body
    height: 100%    
body,dl,dd,h1,h2,h3,h4,h5,h6,p,form,figure,figcaption
    margin: 0px
    padding: 0px

body
    font-family: "\5FAE\8F6F\96C5\9ED1", "Microsoft Yahei", "Arial"
    color: #333
    background-color: #fff
    font-size: 0.5rem
    background-image: url(about:blank)
    background-attachment: fixed
    overflow-x: hidden

a
    color: #06f
    text-decoration: none
    
img
    border: none
    vertical-align: middle
    max-width: 100%

li
    list-style-type: none

input,select,textarea
    font-family: "\5FAE\8F6F\96C5\9ED1", "Microsoft Yahei", "Arial"
    background-color: #fff
    margin: 0
    padding: 0
    outline: none

table
    border-collapse: collapse
    table-layout: fixed

input,textarea
    outline: none
    border: none

textarea
    resize: none
    overflow: auto

button 
    outline: none
.clearfix
    zoom: 1;

.clearfix:after
    content: "."
    width: 0
    height: 0
    visibility: hidden
    display: block
    clear: both
    overflow: hidden

.fl
    float: left

.fr
    float: right

.tl
    text-align: left

.tc
    text-align: center

.tr
    text-align: right
    
.loading
    .el-loading-mask
        background-color: rgba(0, 0, 0, 0.3)
        .el-loading-spinner
            top: 40%
            .circular
                width: 3.5rem
                height: 3.5rem
                .path
                    stroke: #ffd900
                    stroke-width: 3

.version
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-color: rgba(0, 0, 0, 0.3)
    z-index: 10
    .update
        width: 80%
        height: 8rem
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
        background-color: #ffffff
        border-radius: 10px
        box-shadow: 0 0 5px #FFD900
        overflow: hidden
        .info
            height: 6rem
            display: flex
            align-items: center
        button
            width: 100%
            height: 2rem
            background-color: #FFD900
            border: none
            


